* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    height: auto;
    margin: 0px auto;
    /* background-color: red; */
    /* padding-bottom: 0px; */
}

 img {
    display: block;
    margin: 9px auto 0px;
    padding-bottom: 0px;
    
}

.search {
    background-color: #eeeeee;
    /* justify-content: center; */
    text-align: center;
    margin-top: 1px;
    /* align-items: center; */
}

.table {
    display: inline-block;
    margin: 0px auto;
}

/* input {
    padding: 1px 6px;
} */

.card1 {
    /* display: inline-block; */
    width: 37%;
    height: 76px;
    float: left;
    background-color: #7EE5DA;
    margin-top: 2px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    /* padding-top: 20px; */
    
}

#card1 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

.card2 {
    background-color: #70CCC2;
    height: 76px;
    margin-top: 2px;
    width: 19%;
    float: left;
    margin-left: 1px;
}

#card2 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    padding: 0px 120px;
}

.card3 {
    background-color: #62B3AA;
    height: 76px;
    margin-top: 2px;
    width: 43.8%;
    float: left;
    margin-left: 1px;
}

#card3 {
    background-color: #62B3AA;
    font-size: 13px;
    margin: auto;
    text-align: center;
    border-spacing: 1px;
}


